<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src="/src/static/script.js"></script>
    <title>Site Rim</title>

</head>

<body>

<header class="navbar">
    <img class="navbar_imagem" src="../static/img/wireframe.png">
    <nav class="navbar_menu">
        <a class="navbar_menu_item active" href="index.html">Home</a>
        <a class="navbar_menu_item" href="blog.html">Blog</a>
        <a class="navbar_menu_item" href="dados.html">Dados</a>
        <a class="navbar_menu_item">Login</a>
    </nav>
</header>

<main>
    <section class="hero_banner">
        <div class="conteudo_escrito">
            <h1 class="conteudo_escrito_titulo">ESTAS CRIANÇAS <br> PRECISAM DE <br> VISIBILIDADE</h1>
            <h2 class="conteudo_escrito_subtitulo">Conheça a luta pelos quais os pais passam para <br> garantir um tratamento digno aos seus filhos <br> com Insuficiência Renal Crônica (IRC)</h2>
        </div>
        <img class="hero_banner_imagem" src="../static/img/imagem_rins.png">
    </section>

    <section class="problematica">
        <div class="problematica_escrito">
            <h1 class="problematica_escrito_titulo">Problemática</h1>
            <p class="problematica_escrito_paragrafo">Muitas crianças morrem por ano devido a falta de tratamento para Insuficiência Renal Crônica (IRC), causado principalmente pelo sucateamento do SUS. Com a falta de nefrologistas pediátricos, muitas mães precisam mudar de Estado para tentar garantir um tratamento adequado para os seus filhos - isso quando conseguem achar um nefrologista.</p>
        </div>
    </section>

    <section class="cards">
        <div class="card_familia">
            <img class="icone_familia"src="../static/img/icone_familia.png">
            <p>Família descobre que o filho possui IRC</p>
        </div>
        <div class="card_sem_nefro">
            <img class="icone_sem_nefro" src="../static/img/icone_sem_nefro.png">
            <p>Família procura por Nefrologista Pediátrico na região, porém não acham</p>
        </div>
        <div class="card_carro">
            <img class="icone_carro" src="../static/img/icone_carro.png">
            <p>Família precisa mudar de Estado para achar um Nefrologista disponível</p>
        </div>
        <div class="card_morreu">
            <img class="icone_morreu" src="../static/img/icone_morreu.png">
            <p>As famílias que não tem condições de se mudar acabam perdendo seu filho para a doença renal</p>
        </div>
    </section>
    
    <hr>

    <section class="insuficiencia">
        <div class="insuficiencia_escrito">
            <h1 class="insuficiencia_escrito_titulo">O que é Insuficiência Renal Crônica?</h1>
            <p class="insuficiencia_escrito_paragrafo">É uma condição na qual os rins perdem a capacidade de efetuar suas funções básicas. Esta perda é lenta, progressiva e irreversível. Existe 3 tipos de tratamentos: o Conservador, a Diálise e o Transplante Renal.</p>
        </div>
    </section>

    <section class="cards_info">
        <div class="card_tratamento">
            <h3>Tratamento Conservador</h3>
            <p>Realizado através de orientações importantes, medicamentos e dieta, ele visa conservar a função dos rins que já têm perda crônica e irreversível, tentando evitar, o máximo possível, o início da diálise</p>
        </div>
        <div class="card_dialise">
            <h3>Diálise</h3>
            <p>É realizado para substituir algumas das funções dos rins, ou seja, retirar as toxinas e o excesso de água e sais minerais do organismo. Existe 2 tipos: a Hemodiálise e a Diálise Peritonial</p>
        </div>
        <div class="card_transplante">
            <h3>Transplante Renal</h3>
            <p>O paciente recebe um rim de um doador. Ele tem que fazer uso de medicações que inibem a reação do organismo contra organismos estranhos (neste caso, o “novo rim”)</p>
        </div>
    </section>

    <section class="insuficiencia_embaixo">
        <div class="insuficiencia_embaixo_escrito">
            <h1 class="insuficiencia_embaixo_escrito_titulo">E a Nefrologia Pediátrica?</h1>
            <p class="insuficiencia_embaixo_escrito_paragrafo">É um ramo da pediatria responsável por prevenir, diagnosticar e tratar condições que acometem os rins de pacientes bebês, crianças e adolescentes.</p>
            <p class="insuficiencia_embaixo_escrito_paragrafo">Há uma grande falta de Nefrologistas Pediátricos no país, especialmente em cidades pequenas ou longes da capital.</p>
        </div>
    </section>

    <hr>

    <section class="conclusao">
        <div class="conclusao_escrito">
            <h1 class="conclusao_escrito_titulo">Conclusão</h1>
            <p class="conclusao_escrito_paragrafo">A IRC demanda cuidados especializados, especialmente quando se trata de pacientes pediátricos. No entanto, o número limitado de nefrologistas pediátricos disponíveis coloca muitos pais em uma situação angustiante.</p>
            <p class="conclusao_escrito_paragrafo">É fundamental que os órgãos governamentais, instituições de saúde e sociedades médicas trabalhem em conjunto para criar políticas e programas que melhorem o acesso ao tratamento dessa doença, como centros de excelência em nefrologia pediátrica em regiões estratégicas e a alocação de recursos adequados para atender às necessidades das crianças afetadas.</p>
            <h2 class="conclusao_escrito_subtitulo">Informe-se mais sobre o assunto:</h2>
        </div>
    </section>

    <section class="cards_call_to_action">
        <div class="card_blog">
            <h3>Blog</h3>
            <p>Confira alguns relatos de mães de seus filhos com IRC:</p>
            <button class="botao_acessar">Acessar</button>
        </div>
        <div class="card_dados">
            <h3>Dados</h3>
            <p>Analise estatísticas governamentais sobre esse assunto:</p>
            <a href="dados.html"><button class="botao_acessar">Acessar</button></a>
        </div>
        <div class="card_login">
            <h3>Login</h3>
            <p>Faça login para poder visualizar alguns dados privados:</p>
            <button class="botao_acessar">Acessar</button>
        </div>
    </section>

    <div id="progress">
        <span id="progress_value">&#x1F815;</span>
    </div>

</main>

<footer>
    <div class="footer_principal">
        <div class="footer_parte_esquerdo">
            <p>Este site foi feito com carinho como um projeto de API (Aprendizagem por Projeto Integrador) no 1° semestre do curso de Desenvolvimento de Software Multiplataforma (DSM) na FATEC São José dos Campos - Prof Jessen Vidal. Time responsável: </p>
            <img class="footer_logo_time" src="../static/img/logo_time.png">
        </div>
        <div class="footer_parte_direito">
            <p>Confira o repositório desse site no Github:</p>
            <a href="https://github.com/TeamHiveAPI/API-2023.2"> <img class="footer_logo_github" href="https://github.com/TeamHiveAPI/API-2023.2" src="../static/img/logo_github.png"> </a>
        </div>
    </div>
    <p class="footer_direitos_autorais">Todos os direitos reservados © 2023</p>
</footer>

</body>

</html>