<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/cadastrologin.css">
</head>
<body>
    <header class="navbar">
        <img class="navbar_imagem" src="../static/img/wireframe.png">
        <nav class="navbar_menu">
            <a class="navbar_menu_item" href="./index.html">Home</a>
            <a class="navbar_menu_item" href="./blog.html">Blog</a>
            <a class="navbar_menu_item" href="./dados.html">Dados</a>
            <a class="navbar_menu_item active" href="/">Login</a>
        </nav>
    </header>
    <main>
        <section>
            <div class="container">
                <img class="login-img" src="../static/img/login.png" alt="">
                <div class="login">
                    <h1 class="titulo_login">Login</h1>
                        <form action="">
                            <label for="nome">Usuário</label> <br>
                            <input type="text" placeholder="CPF ou email" id="nome"> <br>
                            <label for="senha">Senha</label> <br>
                            <input type="password" placeholder="6 a 8 dígitos" id="senha"> <br>
                            <button type="submit">Login</button>
                        </form>
                    <div class="linha">
                        <hr>
                        <p>Não tem uma conta?</p>
                        <hr>
                    </div>
                    <div class="cadastre">
                        <button type="submit">
                            <a href="./cadastro.html">Cadastre-se</a>
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>