<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha conta</title>
    <link rel="stylesheet" href="../static/minhaconta.css">
</head>
<body>
    <header class="navbar">
        <img class="navbar_imagem" src="../static/img/wireframe.png">
        <nav class="navbar_menu">
            <a class="navbar_menu_item" href="./index.html">Home</a>
            <a class="navbar_menu_item" href="./blog.html">Blog</a>
            <a class="navbar_menu_item" href="./dados.html">Dados</a>
            <a class="navbar_menu_item active" href="/">Minha conta</a>
        </nav>
    </header>

    <hr>

    <section class="minha_conta">
        <div class="minha_conta_imagem">
            <img src="/src/static/img/perfil.png">
        </div>
        <div class="minha_conta_info">
            <h1>Nome de usuário:</h1>
            <p class="info_paragrafo">Usuário do site</p>
            <h1>E-mail:</h1>
            <p class="info_paragrafo">usuario@gmail.com</p>
            <h1>Senha:</h1>
            <p class="info_paragrafo">nefrologia123</p>
            <div class="minha_conta_botao">
                <button type="submit">
                    <img src="/src/static/img/Shutdown.png">
                    <p>Sair</p>
                </button>
            </div>
        </div>
    </section>
            
</body>

</html>