{% extends 'base.html' %}

{% block estilo %}
<link rel="stylesheet" href="{{ url_for('static', filename='styleblog.css') }}">
<script src="{{ url_for('static', filename='script.js') }}" async></script>

{% endblock %}

{% block title %}
BLOG
{% endblock %}

{% block nav %}
<a class="navbar_menu_item " href="{{ url_for('index') }}">HOME</a>
<a class="navbar_menu_item {{ nav }}" href="{{ url_for('blog') }}">BLOG</a>
<a class="navbar_menu_item" href="{{ url_for('dados') }}">DADOS</a>
<a class="navbar_menu_item" href="{{ url_for('login') }}">{{ title }}</a>
{% endblock %}

{% block conteudo %}
<main>

    <!-- Modal Selecionar Imagem -->
    <div id="modal" class="modal">
        <div class="modal_conteudo">
            <div class="modal_cima">
                <h1>Selecionar Imagem</h1>
                <p>Selecione até 5 imagens em formato .png</p>
            </div>
            <div class="modal_baixo">
                <form name="selecionar_imagem" onsubmit="return validateForm()">
                    <input type="file" id="selecionar_imagem" name="imagem" multiple accept=".png, .jpg, .jpeg">
                    <input class="botao_modal_enviar" type="submit" value="Enviar">
                </form>
                <button class="modal_baixo_botao_voltar">Voltar</button>
            </div>
        </div>
    </div>

    <section class="hero_banner">
        <div class="conteudo_escrito">
            <h1 class="conteudo_escrito_titulo">BLOG</h1>
            <h2 class="conteudo_escrito_subtitulo">Confira relatos de pais sobre suas lutas para garantir aos seus filhos com IRC um tratamento adequado</h2>
        </div>
    </section>
    {% if session['user_id'] is not none %}
    <!-- Se o usuário estiver logado, exibe o formulário -->
    <article>
        <div class="container">
            <img class="mensagem" src="{{ url_for('static', filename='img/SMS.png') }}" alt="">
            <button class="fundo" onclick="formulario()">Compartilhe sua história!</button>
        </div>
        <form action="{{ url_for('blog') }} " method="post">
            <input class="input1" type="text" name="nomefilho" id="nomefilho" placeholder="Insira o nome do seu filho">
            <textarea class="input2 resize" type="text" name="conteudo" id="conteudo" placeholder="Conte a sua história"></textarea>
            <div class="submit">
                <button type="submit">
                    <img class="icone_novo_enviar" src="{{ url_for('static', filename='img/icone_enviar.png') }}" alt="">
                    Enviar
                </button>
                <div id="botao_modal_1">
                    <img class="icone_novo" src="{{ url_for('static', filename='img/icone_selecionar_imagem.png') }}" alt="">
                    Selecionar Imagem
                </div>
                <button type="reset" id="reset">
                    <img class="icone_novo" src="{{ url_for('static', filename='img/icone_apagar.png') }}" alt="">
                    Apagar
                </button>
            </div>
        </form>
    </article>
    {% else %}
    <!-- Se o usuário não estiver logado, exibe o link para a página de login -->
        <div class="container">
            <img class="mensagem" src="{{ url_for('static', filename='img/SMS.png') }}" alt="">
            <button class="fundo">Compartilhe sua história!</button>
            <p>Apenas usuários logados podem publicar suas histórias no blog.</p>
            <p>Crie uma conta clicando no botão abaixo:</p>
            <a href="{{ url_for('login') }}"><button class="fundo login_botao">Login</button></a>
        </div>
    </a>
    {% endif %}

    {% for post in posts %}
    <article>
        <div class="container2">
            <img class="imagem_usuario" src="{{ url_for('static', filename='img/perfil.png') }}" alt="">
            <div class="coluna">
                <p class="nome">{{ post.nome_parente }}</p>
                <p class="mae">{{ post.parentesco }} de {{ post.nome_filho }}</p>
            </div>
            <p class="postagem">Data de Postagem: {{ post.data_postagem }}</p>
        </div>
        <hr class="linha">
        <p> {{ post.conteudo }} </p>
        <div class="botao">
            <p class="ler">Ler mais</p>
        </div>
        <p class="anexo">Anexos</p>
        <div class="fotos">
            <img class="victor1" src="{{ url_for('static', filename='img/image 1.png') }}" alt="">
            <img class="victor2" src="{{ url_for('static', filename='img/image 2.png') }}" alt="">
            <div class="file">
                <img class="victor3" src="{{ url_for('static', filename='img/ImagemFile.png') }}" alt="">
                <p class="ver">Ver mais</p>
            </div>
        </div>
    </article>
    {% endfor %}
    <div class="botao1">
        <p class="carregar">Carregar mais posts</p>
    </div>
    </section>

    <div id="progress">
        <span id="progress_value">&#x1F815;</span>
    </div>

</main>

<footer>
    <div class="footer_principal">
        <div class="footer_parte_esquerdo">
            <p>Este site foi feito com carinho como um projeto de API (Aprendizagem por Projeto Integrador) no 1° semestre do curso de Desenvolvimento de Software Multiplataforma (DSM) na FATEC São José dos Campos - Prof Jessen Vidal. Time responsável: </p>
            <img class="footer_logo_time" src="{{ url_for('static', filename='img/logo_time.png') }}">
        </div>
        <div class="footer_parte_direito">
            <p>Confira o repositório desse site no Github:</p>
            <a href="https://github.com/TeamHiveAPI/API-2023.2" target="_blank"> <img class="footer_logo_github" href="https://github.com/TeamHiveAPI/API-2023.2" src="{{ url_for('static', filename='img/logo_github.png') }}"> </a>
        </div>
    </div>
    <p class="footer_direitos_autorais">Todos os direitos reservados © 2023</p>
</footer>

<script>
    function formulario() {
        var formulario = document.getElementById('form');
        formulario.style.display = 'inline';
    }

    document.getElementById('reset').addEventListener('click', function (event) {
        event.preventDefault();

        document.getElementById('nomefilho').value = '';
        document.getElementById('conteudo').value = '';
    });

</script>

{% endblock %}