{% extends "base.html" %}

{% block estilo %} 
<link rel="stylesheet" href="{{ url_for('static', filename='dadosstyle.css') }}">
<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}

{% block title %} 
DADOS
{% endblock %}
{% block nav %}
    <a class="navbar_menu_item " href="{{ url_for('index') }}">HOME</a>
    <a class="navbar_menu_item " href="{{ url_for('blog') }}">BLOG</a>
    <a class="navbar_menu_item {{ nav }}" href="{{ url_for('dados') }}">DADOS</a>
    <a class="navbar_menu_item" href="{{ url_for('login') }}">{{ title }}</a>
{% endblock %}

{% block conteudo %}
<main>

    <section class="hero_banner">
        <div class="conteudo_escrito">
            <h1 class="conteudo_escrito_titulo">DADOS</h1>
            <h2 class="conteudo_escrito_subtitulo">Análise estatísticas governamentais sobre a Insuficiência Renal Crônica (IRC)</h2>
        </div>
    </section>

    <section class="porque_dados">
        <div class="porque_dados_escrito">
            <h1 class="porque_dados_escrito_titulo">Por que mostrar esses dados?</h1>
            <p class="porque_dados_escrito_paragrafo">Muitos pais com filhos que sofrem de IRC se deparam com a falta de Dados Públicos em relação à Dados de Nefrologia Pediátrica. Ao mesmo tempo, estas pessoas gostariam de levantar todas as informações para ajudar a Frente Parlamentar de Nefrologia, criada em junho de 2023, e melhorar as Políticas Públicas em relação à Nefrologia Pediátrica. Acredita-se que, trazendo estes dados à luz, possa-se sensibilizar o Poder Público e a população em geral.</p>
        </div>
        
    </section>

    <section class="dados">
        <div class="numero_cli_hemo_pedi">
            <h2 class="titulo_tipo_de_dados">Número de clínicas e hospitais que oferecem hemodiálise pediátrica</h2>
             <div class="tema">
                <div class="dropdown">
                    <label for="tema1">Estado:</label>
                    <img class="setinha" src="{{ url_for('static', filename='img/setinha.png' ) }}">
                        <select name="estado" id="tema1" class="estados">
                            
                            <option value="">Selecione um estado</option>
                            <option value="exemplo1">Exemplo 1</option>
                            <option value="exemplo2">Exemplo 2</option>
                            <option value="exemplo3">Exemplo 3</option>
                        </select>
                </div>
                <div class="dropdown">
                    <label for="tema2">Município:</label>
                    <img class="setinha" src="{{ url_for('static', filename='img/setinha.png' ) }}">
                        <select name="municipio" id="tema2" class="municipios">
                            <option value="">Selecione um município</option>
                            <option value="exemplo1">Exemplo 1</option>
                            <option value="exemplo2">Exemplo 2</option>
                            <option value="exemplo3">Exemplo 3</option>
                        </select>
                </div>
             </div>
            <div class="grafico_exemplo">
                <img class="imagem_grafico" src="../static/img/grafico_exemplo.png">
            </div>
        </div>

        <div class="centros_trans_de_criancas">
            <h2 class="titulo_tipo_de_dados">Centros transplantadores de crianças</h2>
            <div class="grafico_exemplo">
                <img class="imagem_grafico" src="../static/img/grafico_exemplo.png">
            </div>
        </div>

        <div class="num_cri_trans_brasil">
            <h2 class="titulo_tipo_de_dados">Número de crianças em filas de transplante no Brasil</h2>
            <div class="tema">
                <div class="dropdown">
                    <label for="tema3">Região: </label>
                    <img class="setinha" src="{{ url_for('static', filename='img/setinha.png' ) }}">
                    <select name="regiao" id="tema3" class="regioes">
                        <option value="">Selecione uma região</option>
                        <option value="exemplo1">Exemplo 1</option>
                        <option value="exemplo2">Exemplo 2</option>
                        <option value="exemplo3">Exemplo 3</option>
                    </select>
                 </div>
             </div>
            
            <div class="grafico_exemplo">
                <img class="imagem_grafico" src="../static/img/grafico_exemplo.png">
            </div>
        </div>

        <div class="criancas_trat_conserv">
            <h2 class="titulo_tipo_de_dados">Crianças em tratamento conservador</h2>
            <div class="grafico_exemplo">
                <img class="imagem_grafico" src="../static/img/grafico_exemplo.png">
            </div>
        </div>

        <div class="centros_cri_menos_10kg">
            <h2 class="titulo_tipo_de_dados">Centros que atendem crianças com menos de 10kg</h2>
            <div class="grafico_exemplo">
                <img class="imagem_grafico" src="../static/img/grafico_exemplo.png">
            </div>
        </div>
    </section>

    <div id="progress">
        <span id="progress_value">&#x1F815;</span>
    </div>

</main>

<footer>
    <div class="footer_principal">
        <div class="footer_parte_esquerdo">
            <p>Este site foi feito com carinho como um projeto de API (Aprendizagem por Projeto Integrador) no 1° semestre do curso de Desenvolvimento de Software Multiplataforma (DSM) na FATEC São José dos Campos - Prof Jessen Vidal. Time responsável: </p>
            <img class="footer_logo_time" src="{{ url_for('static', filename='img/logo_time.png') }}">
        </div>
        <div class="footer_parte_direito">
            <p>Confira o repositório desse site no Github:</p>
            <a href="https://github.com/TeamHiveAPI/API-2023.2" target="_blank"> <img class="footer_logo_github" href="https://github.com/TeamHiveAPI/API-2023.2" src="{{ url_for('static', filename='img/logo_github.png') }}"> </a>
        </div>
    </div>
    <p class="footer_direitos_autorais">Todos os direitos reservados © 2023</p>
</footer>
{% endblock %}