{% extends "base.html" %}

{% block estilo %} 
<link rel="stylesheet" href="{{ url_for('static', filename='dadosstyle.css') }}">
<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}

{% block title %} 
DADOS
{% endblock %}
{% block nav %}
    <a class="navbar_menu_item " href="{{ url_for('index') }}">HOME</a>
    <a class="navbar_menu_item " href="{{ url_for('blog') }}">BLOG</a>
    <a class="navbar_menu_item {{ nav }}" href="{{ url_for('dados') }}">DADOS</a>
    <a class="navbar_menu_item" href="{{ url_for('login') }}">{{ title }}</a>
{% endblock %}

{% block conteudo %}
<main>

    <section class="hero_banner">
        <div class="conteudo_escrito">
            <h1 class="conteudo_escrito_titulo">DADOS</h1>
            <h2 class="conteudo_escrito_subtitulo">Análise estatísticas governamentais sobre a Insuficiência Renal Crônica (IRC)</h2>
        </div>
    </section>

    <section class="porque_dados">
        <div class="porque_dados_escrito">
            <h1 class="porque_dados_escrito_titulo">Por que mostrar esses dados?</h1>
            <p class="porque_dados_escrito_paragrafo">Muitos pais com filhos que sofrem de IRC se deparam com a falta de Dados Públicos em relação à Dados de Nefrologia Pediátrica. Ao mesmo tempo, estas pessoas gostariam de levantar todas as informações para ajudar a Frente Parlamentar de Nefrologia, criada em junho de 2023, e melhorar as Políticas Públicas em relação à Nefrologia Pediátrica. Acredita-se que, trazendo estes dados à luz, possa-se sensibilizar o Poder Público e a população em geral.</p>
        </div>
        
    </section>
        <section class="dados">
        <ul class="centro_transplante">
            <h2>Clinicas que fazem transplante</h2>
            <li>SES RJ HOSPITAL ESTADUAL TRANSPLANTE CANCER E CIR INFANTIL - RJ - RIO DE JANEIRO</li>
            <li>HOSPITAL INFANTIL PEQUENO PRINCIPE - PR - CURITIBA</li>
            <li>HOSPITAL DAS CLINICAS SAMUEL LIBANIO POUSO ALEGRE - MG - POUSO ALEGRE</li>
            <li>SANTA CASA DE MISERICORDIA DE BELO HORIZONTE -  MG - BELO HORIZONTE</li>
            <li>SANTA CASA DE MISERICORDIA DO PARA - PA - BELÉM</li>
            <li>INSTITUTO DE MEDICINA INTEGRAL PROF FERNANDO FIGUEIRA-IMIP - PE - RECIFE</li>
            <li>REAL HOSPITAL PORTUGUES - PE - RECIFE</li>
            <li>HOSPITAL ASSOCIADOS DE PERNAMBUCO LTDA-HOSPITAL SANTA JOANA - PE - RECIFE</li>
            <li>HOSPITAL SAMARITANO - SP - SÃO PAULO</li> 
        </ul>
        <div id="chart_div"></div>
    </section>

    <section class="dados">
        <div class="centros_trans">
            <h1>Centros transportadores de crianças (clínicas que fazem transplante):</h1>
            <div class="dropdown">
                <label for="tema1">Região:</label>
                <img class="setinha" src="{{ url_for('static', filename='img/setinha.png' ) }}">
                <select name="estado" class="estados" id="dropdown_centros">
                    <option value="norte">Selecionar Estado</option>
                    <option value="norte">Norte</option>
                    <option value="nordeste">Nordeste</option>
                    <option value="centro_oeste">Centro-oeste</option>
                    <option value="sudeste">Sudeste</option>
                    <option value="sul">Sul</option>
                </select>
            </div>

            <br>

            <div class="card_hospital" id="dados_norte">
                <p>SANTA CASA DE MISERICÓRDIA DO PARÁ</p>
                <p> Belém - PA</p>
            </div>

            <div class="todos_dados_grupo" id="dados_nordeste">
                <div class="card_hospital_grupo">
                    <p>INSTITUTO DE MEDICINA INTEGRAL PROF FERNANDO FIGUEIRA - MIP</p>
                    <p>Recife - PE</p>
                </div>
                <div class="card_hospital_grupo">
                    <p>REAL HOSPITAL PORTUGUES</p>
                    <p>Recife - PE</p>
                </div>
                <div class="card_hospital_grupo">
                    <p>HOSPITAL ASSOCIADOS DE PERNAMBUCO LTDA - HOSPITAL SANTA JOANA </p>
                    <p>Recife - PE</p>
                </div>
            </div>

            <div class="card_hospital" id="dados_centro_oeste">
                <p>Não há nenhum hospital nesta região</p>
            </div>

            <div class="todos_dados_grupo" id="dados_sudeste">
                <div class="card_hospital_grupo">
                    <p>SES RJ HOSPITAL ESTADUAL TRANSPLANTE CANCER E CIR INFANTIL</p>
                    <p>Rio de Janeiro - RJ</p>
                </div>
                <div class="card_hospital_grupo">
                    <p> HOSPITAL DAS CLINICAS SAMUEL LIBANIO POUSO ALEGRE</p>
                    <p>Pouso Alegre - MG</p>
                </div>
                <div class="card_hospital_grupo">
                    <p>SANTA CASA DE MISERICORDIA DE BELO HORIZONTE</p>
                    <p>Belo Horizonte - MG</p>
                </div>
                <div class="card_hospital_grupo">
                    <p>HOSPITAL SAMARITANO</p>
                    <p>São Paulo - SP</p>
                </div>
            </div>

            <div class="card_hospital" id="dados_sul">
                <p>HOSPITAL INFANTIL PEQUENO PRINCIPE</p>
                <p>Curitiba - PR</p>
            </div>

            <h1 class="margem_cima_dropdown">Clínicas e hospitais que oferecem diálise e hemodiálise:</h1>
            <div class="dropdown">
                <label for="tema1">Região:</label>
                <img class="setinha" src="{{ url_for('static', filename='img/setinha.png' ) }}">
                <select name="estado" class="estados" id="dropdown_centros_dialise">
                    <option value="norte">Selecionar Estado</option>
                    <option value="norte">Norte</option>
                    <option value="nordeste">Nordeste</option>
                    <option value="centro_oeste">Centro-oeste</option>
                    <option value="sudeste">Sudeste</option>
                    <option value="sul">Sul</option>
                </select>
            </div>

            <br>

            <div class="card_hospital" id="dados_norte_dialise">
                <p>Não há nenhum hospital nesta região</p>
            </div>

            <div class="todos_dados_grupo" id="dados_nordeste_dialise">
                <div class="card_hospital_grupo">
                    <p>HIAS HOSPITAL INFANTIL ALBERT SABIN</p>
                    <p>Fortaleza - CE</p>
                    <hr class="margem_divisoria">
                    <p>Tipo do estabelecimento: HOSPITAL ESPECIALIZADO</p>
                    <p>Gestão: DUPLA</p>
                    <p>Categoria: PÚBLICO</p>
                </div>
                <div class="card_hospital_grupo">
                    <p>AMIP Praia</p>
                    <p>João Pessoa - PB</p>
                    <hr class="margem_divisoria">
                    <p>Tipo do estabelecimento: HOSPITAL ESPECIALIZADO</p>
                    <p>Gestão: MUNICIPAL</p>
                    <p>Categoria: PRIVADO</p>
                </div>
                <div class="card_hospital_grupo">
                    <p>HOSPITAL INFANTIL VARELA SANTIAGO</p>
                    <p>Natal - RN</p>
                    <hr class="margem_divisoria">
                    <p>Tipo do estabelecimento: HOSPITAL ESPECIALIZADO</p>
                    <p>Gestão: DUPLA</p>
                    <p>Categoria: SEM FINS LUCRATIVOS</p>
                </div>
            </div>

                <div class="card_hospital" id="dados_centro_oeste_dialise">
                    <p>HOSPITAL ESTADUAL DA CRIANCA E DO ADOLESCENTE HECAD</p>
                    <p>Goiânia - GO</p>
                    <hr class="margem_divisoria">
                    <p>Tipo do estabelecimento: HOSPITAL ESPECIALIZADO</p>
                    <p>Gestão: ESTADUAL</p>
                    <p>Categoria: PÚBLICO</p>
                </div>

                <div class="todos_dados_grupo" id="dados_sudeste_dialise">
                    <div class="card_hospital_grupo">
                        <p>HOSPITAL INFANTIL ISMELIA SILVEIRA</p>
                        <p>Duque de Caxias - RJ</p>
                        <hr class="margem_divisoria">
                        <p>Tipo do estabelecimento: HOSPITAL ESPECIALIZADO</p>
                        <p>Gestão: MUNICIPAL</p>
                        <p>Categoria: PÚBLICO</p>
                    </div>
                    <div class="card_hospital_grupo">
                        <p>SMS HOSPITAL MUNICIPAL JESUS AP 22</p>
                        <p>Rio de Janeiro - RJ</p>
                        <hr class="margem_divisoria">
                        <p>Tipo do estabelecimento: HOSPITAL ESPECIALIZADO</p>
                        <p>Gestão: MUNICIPAL</p>
                        <p>Categoria: PÚBLICO</p>
                    </div>
                    <div class="card_hospital_grupo">
                        <p>INSTITUTO DE PUERICULTURA E PEDIATRIA MARTAGÃO GESTEIRA - IPPMG</p>
                        <p>Rio de Janeiro - RJ</p>
                        <hr class="margem_divisoria">
                        <p>Tipo do estabelecimento: HOSPITAL ESPECIALIZADO</p>
                        <p>Gestão: MUNICIPAL</p>
                        <p>Categoria: PÚBLICO</p>
                    </div>
                    <div class="card_hospital_grupo">
                        <p>HOSP MUNICIPAL INFANTIL MENINO JESUS</p>
                        <p>São Paulo - SP</p>
                        <hr class="margem_divisoria">
                        <p>Tipo do estabelecimento: HOSPITAL ESPECIALIZADO</p>
                        <p>Gestão: MUNICIPAL</p>
                        <p>Categoria: PÚBLICO</p>
                    </div>
                </div>

                <div class="card_hospital" id="dados_sul_dialise">
                    <p>HOSPITAL INFANTIL PEQUENO PRINCIPE</p>
                    <p>Curitiba - PR</p>
                    <hr class="margem_divisoria">
                    <p>Tipo do estabelecimento: HOSPITAL ESPECIALIZADO</p>
                    <p>Gestão: DUPLA</p>
                    <p>Categoria: SEM FINS LUCRATIVOS</p>
                </div>
        </div> 
    </div>
            
    </section>

        <script src="{{ url_for('static', filename='dropdown.js') }}"></script>
        
    <div id="progress">
        <span id="progress_value">&#x1F815;</span>
    </div>

</main>

<footer>
    <div class="footer_principal">
        <div class="footer_parte_esquerdo">
            <p>Este site foi feito com carinho como um projeto de API (Aprendizagem por Projeto Integrador) no 1° semestre do curso de Desenvolvimento de Software Multiplataforma (DSM) na FATEC São José dos Campos - Prof Jessen Vidal. Time responsável: </p>
            <img class="footer_logo_time" src="{{ url_for('static', filename='img/logo_time.png') }}">
        </div>
        <div class="footer_parte_direito">
            <p>Confira o repositório desse site no Github:</p>
            <a href="https://github.com/TeamHiveAPI/API-2023.2" target="_blank"> <img class="footer_logo_github" href="https://github.com/TeamHiveAPI/API-2023.2" src="{{ url_for('static', filename='img/logo_github.png') }}"> </a>
        </div>
    </div>
    <p class="footer_direitos_autorais">Todos os direitos reservados © 2023</p>
</footer>
// grafico

google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawVisualization);

function drawVisualization() {
  // Some raw data (not necessarily accurate)
  var data = google.visualization.arrayToDataTable([
    ['Ano', 'Norte', 'Nordeste', 'Sudeste', 'Sul', 'Centro-Oeste'],
    ['2018',   8,       12,          29,      4,         6,      ],
    ['2019',  11,       14,          16,     12,         4,      ],
    ['2020',  11,       16,          10,      7,         2,      ],
    ['2021',  12,       21,          13,      7,         3,      ],
    ['2022',   9,       23,          20,      8,         6,      ],
    ['2023',   5,        6,           7,      0,         1,      ]
  ]);

  var options = {
    title : 'Taxa de mortalidade de crianças e adolescentes com DRC por região.',
    vAxis: {title: 'Taxa'},
    hAxis: {title: 'Ano'},
    seriesType: 'bars',
    series: {5: {type: 'line'}}
  };

  var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
  chart.draw(data, options);
}
</script>
{% endblock %}
