{% extends "base.html" %}
{% block titulo %} Home | Rim do Amor {% endblock %}
{% block estilo %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}
{% block title %} 
HOME
{% endblock %}
{% block nav %}
    <a class="navbar_menu_item {{ nav }}" href="{{ url_for('index') }}">HOME</a>
    <a class="navbar_menu_item" href="{{ url_for('quemsomos') }}">QUEM SOMOS</a>
    <a class="navbar_menu_item" href="{{ url_for('blog') }}">BLOG</a>
    <a class="navbar_menu_item" href="{{ url_for('dados') }}">DADOS</a>
    <a class="navbar_menu_item" href="{{ url_for('login') }}">{{ title }}</a>
{% endblock %}

{% block conteudo %}
<main>
    <section class="hero_banner">
        <div class="conteudo_escrito">
            <h1 class="conteudo_escrito_titulo">ESTAS CRIANÇAS <br> PRECISAM DE <br> VISIBILIDADE</h1>
            <h2 class="conteudo_escrito_subtitulo">Conheça as lutas pelos quais os pais passam para <br> garantir um tratamento digno aos seus filhos <br> com Insuficiência Renal Crônica (IRC)</h2>
        </div>
        <img class="hero_banner_imagem" src="{{ url_for('static', filename='img/imagem_rins.png') }}">
    </section>

    <section class="problematica">
        <div class="problematica_escrito">
            <h1 class="problematica_escrito_titulo">Problemática</h1>
            <p class="problematica_escrito_paragrafo">Anualmente muitas crianças morrem devido à falta de tratamento para Insuficiência Renal Crônica, ou IRC (também chamada de doença renal), causada principalmente pelo sucateamento do SUS. Com a falta de nefrologistas pediátricos, muitas mães se encontram forçadas a mudar de Estado para tentar garantir um tratamento adequado para os seus filhos - isso quando conseguem achar um nefrologista.</p>
        </div>
    </section>

    <section class="cards">
        <div class="card_familia">
            <img class="icone_familia"src="{{ url_for('static', filename='img/icone_familia.png') }}">
            <p>Família descobre que o filho possui IRC</p>
        </div>
        <div class="card_sem_nefro">
            <img class="icone_sem_nefro" src="{{ url_for('static', filename='img/icone_sem_nefro.png') }}">
            <p>Família procura por um Nefrologista Pediátrico na região, porém não acham</p>
        </div>
        <div class="card_carro">
            <img class="icone_carro" src="{{ url_for('static', filename='img/icone_carro.png') }}">
            <p>Família precisa mudar de Estado para achar um Nefrologista disponível</p>
        </div>
        <div class="card_morreu">
            <img class="icone_morreu" src="{{ url_for('static', filename='img/icone_morreu.png') }}">
            <p>As famílias que não tem condições de se mudar acabam perdendo seu filho para a doença renal</p>
        </div>
    </section>
    
    <hr>

    <section class="insuficiencia">
        <div class="insuficiencia_escrito">
            <h1 class="insuficiencia_escrito_titulo">O que é Insuficiência Renal Crônica?</h1>
            <p class="insuficiencia_escrito_paragrafo">Trata-se de uma condição sem cura na qual os rins perdem a capacidade de efetuar suas funções básicas. Diferente da Insuficiência Renal Aguda, nesse caso a perda é lenta, progressiva e irreversível. Existem 3 tipos de tratamento: o tratamento Conservador, a Diálise e o Transplante Renal.</p>
        </div>
    </section>

    <section class="cards_info">
        <div class="card_tratamento">
            <h3>Tratamento Conservador</h3>
            <p>Realizado através de orientações, medicamentos e dieta, visando conservar a função dos rins que já têm perda crônica e irreversível, tentando evitar, o máximo possível, o início da diálise</p>
        </div>
        <div class="card_dialise">
            <h3>Diálise</h3>
            <p>É realizada para substituir algumas das funções dos rins, ou seja, retirar as toxinas e o excesso de água e sais minerais do organismo. Existem 2 tipos: a Hemodiálise e a Diálise Peritonial</p>
        </div>
        <div class="card_transplante">
            <h3>Transplante Renal</h3>
            <p>O paciente recebe um rim de um doador. O processo inclui o uso de medicações que inibem a reação do organismo contra organismos estranhos (neste caso, o “novo rim”)</p>
        </div>
    </section>

    <section class="insuficiencia_embaixo">
        <div class="insuficiencia_embaixo_escrito">
            <h1 class="insuficiencia_embaixo_escrito_titulo">E a Nefrologia Pediátrica?</h1>
            <p class="insuficiencia_embaixo_escrito_paragrafo">É o ramo da pediatria responsável por prevenir, diagnosticar e tratar condições que acometem os rins de pacientes bebês, crianças e adolescentes.</p>
            <p class="insuficiencia_embaixo_escrito_paragrafo">Há uma grande falta de Nefrologistas Pediátricos no país, especialmente em cidades pequenas ou longes da capital.</p>
        </div>
    </section>

    <hr>

    <section class="conclusao">
        <div class="conclusao_escrito">
            <h1 class="conclusao_escrito_titulo">Conclusão</h1>
            <p class="conclusao_escrito_paragrafo">A IRC demanda cuidados especializados, especialmente quando se trata de pacientes pediátricos. No entanto, o número limitado de nefrologistas pediátricos disponíveis coloca muitos pais em uma situação angustiante.</p>
            <p class="conclusao_escrito_paragrafo">É fundamental que os órgãos governamentais, instituições de saúde e sociedades médicas trabalhem em conjunto para criar políticas e programas que melhorem o acesso ao tratamento dessa doença, como centros de excelência em nefrologia pediátrica em regiões estratégicas e a alocação de recursos adequados para atender às necessidades das crianças afetadas.</p>
            <h2 class="conclusao_escrito_subtitulo">Informe-se mais sobre o assunto:</h2>
        </div>
    </section>

    <section class="cards_call_to_action">
        <div class="card_blog">
            <h3>Blog</h3>
            <p>Veja histórias sobre crianças com IRC:</p>
            <a href="{{ url_for('blog') }}"><button class="botao_acessar">Acessar</button></a>
        </div>
        <div class="card_dados">
            <h3>Dados</h3>
            <p>Analise estatísticas sobre esse assunto:</p>
            <a href="{{ url_for('dados') }}"><button class="botao_acessar">Acessar</button></a>
        </div>
        <div class="card_login">
            <h3>Login</h3>
            <p>Faça login para poder criar um post:</p>
            <a href="{{ url_for('login') }}"><button class="botao_acessar">Acessar</button></a>
        </div>
    </section>

    <hr>

    <div class="citacao">
        <h1>"Se a educação sozinha não transforma a sociedade, sem ela tampouco a sociedade muda."</h1>
        <p class="menor">- Paulo Freire</p>
    </div>

    <div id="progress">
        <span id="progress_value">&#x1F815;</span>
    </div>

</main>

{% endblock %}