{% extends "base.html" %}

{% block estilo %} 
<link rel="stylesheet" href="{{ url_for('static', filename='cadastrologin.css') }}">
<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}

{% block title %} 
LOGIN
{% endblock %}
{% block nav %}
    <a class="navbar_menu_item " href="{{ url_for('index') }}">HOME</a>
    <a class="navbar_menu_item " href="{{ url_for('blog') }}">BLOG</a>
    <a class="navbar_menu_item" href="{{ url_for('dados') }}">DADOS</a>
    <a class="navbar_menu_item {{ nav }}" href="{{ url_for('login') }}">{{ title }}</a>
{% endblock %}

{% block conteudo %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="centralizar_screen">
        <ul class="flash-messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endwith %}
    <main>
        <section>
            <div class="container">
                <img class="login-img" src="{{ url_for('static', filename='img/login.png') }}" alt="">
                <div class="login">
                    <h1 class="titulo_login">Login</h1>
                        <form action="{{ url_for('login') }} " method="post">
                            <label for="nome">Usuário</label> <br>
                            <input type="email" placeholder="Digite seu E-mail" id="email" name="email" required> <br>
                            <label for="senha">Senha</label> <br>
                            <input type="password" placeholder="Digite sua Senha" id="senha" name="senha" required> <br>
                            <button type="submit">Login</button>
                        </form>
                    <div class="linha">
                        <hr>
                        <p>Não tem uma conta?</p>
                        <hr>
                    </div>
                    <div class="cadastre">
                        <button type="submit">
                            <a href="{{ url_for('cadastro') }}">Cadastre-se</a>
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}