<!DOCTYPE html>
{% extends "base.html" %}

{% block estilo %} 
<link rel="stylesheet" href="{{ url_for('static', filename='minhaconta.css') }}">
<script src="{{ url_for('static', filename='sricpt.js') }}"></script>
{% endblock %}

{% block title %} 
MINHA-CONTA
{% endblock %}
{% block nav %}
    <a class="navbar_menu_item " href="{{ url_for('index') }}">HOME</a>
    <a class="navbar_menu_item " href="{{ url_for('blog') }}">BLOG</a>
    <a class="navbar_menu_item" href="{{ url_for('dados') }}">DADOS</a>
    <a class="navbar_menu_item {{ nav }}" href="{{ url_for('auth_bp.login') }}">LOGIN</a>
{% endblock %}

{% block conteudo %}

    <hr>

    <section class="minha_conta">
        <div class="minha_conta_imagem">
            <img src="{{ url_for('static', filename='img/perfil.png') }}">
        </div>
        <div class="minha_conta_info">
            <h1>Nome de usuário:</h1>
            <p class="info_paragrafo">Usuário do site</p>
            <h1>E-mail:</h1>
            <p class="info_paragrafo">usuario@gmail.com</p>
            <h1>Senha:</h1>
            <p class="info_paragrafo">nefrologia123</p>
            <div class="minha_conta_botao">
                <button type="submit">
                    <img src="{{ url_for('static', filename='img/wireframe.png') }}">
                    <p>Sair</p>
                </button>
            </div>
        </div>
    </section>
{% endblock %}