<!DOCTYPE html>
{% extends "base.html" %}

{% block estilo %} 
<link rel="stylesheet" href="{{ url_for('static', filename='minhaconta.css') }}">
<script src="{{ url_for('static', filename='script.js') }}" async></script>
{% endblock %}

{% block title %} 
MINHA-CONTA
{% endblock %}
{% block nav %}
    <a class="navbar_menu_item " href="{{ url_for('index') }}">HOME</a>
    <a class="navbar_menu_item " href="{{ url_for('blog') }}">BLOG</a>
    <a class="navbar_menu_item" href="{{ url_for('dados') }}">DADOS</a>
    <a class="navbar_menu_item {{ nav }}" href="{{ url_for('login') }}">{{ title }}</a>
{% endblock %}

{% block conteudo %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flash-messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <hr>

    <div id="modal" class="modal">
        <div class="modal_conteudo">
            <div class="modal_cima">
                <h1>Selecionar Imagem</h1>
                <p>Selecione apenas uma foto em formato .png</p>
            </div>
            <div class="modal_baixo">
                <form name="selecionar_imagem" onsubmit="return validateForm()">
                    <input type="file" id="selecionar_imagem" name="imagem" multiple accept=".png, .jpg, .jpeg">
                    <input class="botao_modal_enviar" type="submit" value="Enviar">
                </form>
                <button class="modal_baixo_botao_voltar">Voltar</button>
            </div>
        </div>
    </div>

    <section class="minha_conta">
        <div class="parte_esquerda">
            <div class="minha_conta_imagem">
                <img src="{{ url_for('static', filename='img/perfil.png') }}">
            </div>
            <div class="minha_conta_baixo" id="botao_modal_1">
                Selecionar Imagem
                <img class="icone_novo" src="{{ url_for('static', filename='img/icone_selecionar_imagem.png') }}" alt="">
            </div>
        </div>
        <div class="minha_conta_info">
            {% if user %}
            <h1>Nome de usuário:</h1>
            <p class="info_paragrafo">{{ user.nome }}</p>
            <h1>E-mail:</h1>
            <p class="info_paragrafo">{{ user.email }}</p>
            <h1>Senha:</h1>
            <p class="info_paragrafo">{{ user.senha }}</p>  
            <div class="minha_conta_botao">
                <form method="post" action="{{ url_for('logout') }}">
                    <button type="submit">Sair</button>
                </form>
            </div>
            {% endif %}
        </div>
    </section>        
{% endblock %}