@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
    text-decoration: none;
}

body {
    margin: 0 10%;
}

/* Navbar */

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0px 24px 0px;
}

.navbar_imagem {
    width: 125px;
}

.navbar_menu {
    display: flex;
    font-weight: 600;
    gap: 32px;
}

.navbar_menu_item {
    color: #000350;
    padding: 8px 28px 8px 28px;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
}

.active {
    color: white;
    background-color: #000350;
}

/* Hero Banner da página Dados */


.hero_banner {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: radial-gradient(150% 64% at 80% 40%, rgba(0, 3, 80, 0.7) 0%, #000350 100%);
    margin: 0 -12.5%;
}

.conteudo_escrito {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin: 0 10%;
}

.conteudo_escrito_titulo {
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    color: white;
    margin-top: 128px;
}

.conteudo_escrito_subtitulo {
    font-weight: 500;
    font-size: 20px;
    color: white;
    margin-bottom: 128px;
}

/* Conteúdo da página */

.porque_dados {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.porque_dados_escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.porque_dados_escrito_titulo {
    font-weight: 700;
    font-size: 48px;
    color: #000350;
    margin-top: 80px;
}

.porque_dados_escrito_paragrafo {
    margin-bottom: 64px;
}

.dados {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: first baseline;
}

.titulo_tipo_de_dados {
    margin-top: 64px;
    color: #000350;
}

.dropdown {
    margin-top: 32px;
}

.grafico_exemplo {
    display: flex;
    text-align: center;
    margin-top: 64px;
}

.grafico_bloqueado {
    display: flex;
    padding: 128px 256px;
    margin-top: 64px;
    border: 1px solid #303030;
    border-radius: 32px;
}

.grafico_bloqueado_elementos {
    flex-direction: column;
    text-align: center;
}

.icone_bloqueado {
    width: 96px;
    margin-bottom: 32px;
}

/* Footer */

footer {
    padding: 64px 0;
    margin: 0 -12.5%;
    margin-top: 64px;
    background-color: #00022C;
    color:white;
}

.footer_principal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10%;
}

.footer_parte_esquerdo {
    max-width: 500px;
}

.footer_logo_time {
    margin-top: 32px;
    width: 200px;
}

.footer_logo_github {
    margin-top: 32px;
    width: 48px;
    cursor: pointer;
}

.footer_direitos_autorais {
    margin-top: 64px;
    text-align: center;
}


/* dropdown livia */

select {
    appearance: none;
    width: 420px;
    padding: 12px;
    border: 1px solid #303030;
    border-radius: 12px;
    font-size: 1rem;
    outline: none;
}

label {
    background-color: #000350;
    padding: 12px;
    color: white;
    border-radius: 12px;
    margin-right: 16px;
    font-weight: 600;
}

option {
    margin-top: 20px;
}

.tema {
    display: flex;
    flex-direction: row;
    gap: 64px;
}

.setinha {
    position: absolute;
    z-index: 1;
    margin-left: 390px;
    margin-top: 18px;
    width: 15px;
}