@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
    text-decoration: none;
}

body {
    margin: 0 10%;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0px 24px 0px;
}

.navbar_imagem {
    width: 125px;
}

.navbar_menu {
    display: flex;
    font-weight: 600;
    gap: 32px;
}

.navbar_menu_item {
    color: #000350;
    padding: 8px 28px 8px 28px;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
}

.active {
    color: white;
    background-color: #000350;
}

hr {
    border: 1px solid #303030;
    margin-bottom: 64px;
}

.minha_conta {
    display: flex;
    flex-direction: row;
    gap: 64px;
}

.minha_conta_imagem img {
    width: 250px;
}

.info_paragrafo {
    margin: 16px 0px 16px 0px;
    width: 400px;
    padding: 16px;
    background-color: #f0f0f0;
    border-radius: 24px;
}

.minha_conta_botao button {
    display: flex;
    border: none;
    padding: 16px 32px 16px 32px;
    align-items: center;
    gap: 24px;
    font-size: 24px;
    font-weight: 700;
    flex-direction: row;
    background-color: #000350;
    color: white;
    border-radius: 24px;
    margin-top: 32px;
    cursor: pointer;
}

.minha_conta_botao button:hover {
    background-color:#000242;
}