@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
    text-decoration: none;
}

main {
    margin: 0 10%;
}

.container {
    background: radial-gradient(150% 64% at 80% 40%, rgba(0, 3, 80, 0.7) 0%, #000350 100%);
    padding: 48px;
    margin: 0 -12.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro-img {
    width: 650px;
    height: 1050px;
    border-radius: 50px 0px 0px 50px;
}

.cadastro {
    background-color: white;
    width: 650px;
    height: 1050px;
    border-radius: 0 50px 50px 0px;
}

.login {
    background-color: white;
    width: 500px;
    height: 550px;
    padding-bottom: 56px;
    border-radius: 0px 50px 50px 0px;
}

.login-img {
    width: 500px;
    height: 550px;
    border-radius: 50px 0px 0px 50px;
}

.auto_height {
    height: auto;
}

.recuperar_img {
    width: 650px;
    height: 670.5px;
    border-radius: 50px 0px 0px 50px;
}

.titulo_cadastro, .titulo_login, .titulo_recuperar {
    margin: 56px 260px 28px 90px;
    font-size: 60px;
    color: #000350;
}

label {
    margin: 0 368px 0px 90px;
    white-space: nowrap;
}

.cadastro input {
    margin: 0px 90px 32px;
    width: 450px;
    height: 35px;
    border: none;
    background: none;
    border-bottom: 1px solid #969696;
    outline: none;
    letter-spacing: 1px;
}

.login input {
    margin: 0 90px 32px;
    width: 320px;
    height: 35px;
    border: none;
    background: none;
    border-bottom: 1px solid #969696;
    outline: none;
    letter-spacing: 1px;
}
.esqueci_senha {
    margin: 0px 90px 32px;
    margin-bottom: 32px;
    color: #000120;
    font-size: 0.85rem;
}

.esqueci_senha:hover {
    text-decoration: underline;
}

.margin_bottom_senha {
    margin-bottom: 8px!important;
}

.margin_top_login {
    margin-top: 32px!important;
}

.cadastro button {
    background-color: #000350;
    border: none;
    margin: 0 200px;
    width: 200px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.5s ease;
}

.login button {
    background-color: #000350;
    border: none;
    margin: 0 150px;
    width: 200px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.5s ease;
}

button:hover {
    background-color: #00032e;
    cursor: pointer;
}

.linha {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 32px 110px 32px;

}

.linha p {
    font-size: 12px;
    white-space: nowrap;
}

hr {
    width: 500px;
    border: none;
    border-bottom: 1px solid #969696;
    margin: 0px -20px;
}

.cadastre {
    border: none;
    transition: background-color 0.5s ease;
}

.cadastre button:hover {
    background-color: #00032e;
    cursor: pointer;
}

.cadastre a{
    color: white;
}

select {
    margin: 10px 90px 32px;
    width: 200px;
    height: 25px;
    border-radius: 5px;
}

input::placeholder {
    color: #c9c9c9;
}

.centralizar_screen {
    display: flex;
    justify-content: center;
}

.flash-messages {
    display: flex;
    position: absolute;
    justify-content: center;
    background-color: #1d7d0d;
    color: white;
    width: 320px;
    padding: 32px;
    border-radius: 32px;
    top: 140px;
    animation-name: popup;
    animation-duration: 5s;
    opacity: 0;
}

.flash-messages li {
    align-items: center;
}

@keyframes popup {
    from {margin-top: -200px; opacity:0}
    20% {margin-top: 0px; opacity:1}
    80% {margin-top: 0px; opacity:1}
    to {margin-top: -200px; opacity:0}
}

.esqueci_senha_p p {
    margin: 0px 80px 32px;
}

@media only screen and (max-width: 1300px) {
    main{
        margin: 0;
    }
    .tela_full{
        overflow: hidden;
    }
    .titulo_login, .titulo_cadastro, .titulo_recuperar{
        margin: 5% 0;
        
    }

    .login, .cadastro {
        border-radius: 0px 0px 50px 50px;
        height: auto;
    } 

    .login-img, .cadastro-img {
        border-radius: 50px 50px 0px 0px;
        height: 180px;
        object-fit: cover;
    }

    .container{
        flex-direction: column;
        max-height: 100%;
        padding: 5%;
    }
    .login, .cadastro{
        align-items: center;
        flex-direction: column;
        display: flex;
        background-color: white;
    }
    .cadastro{
        height: auto;
    }
    .login button, .cadastro button {
        margin: 5% auto;
    }
    .cadastre, .botao {
        margin-bottom: 32px;
    }
    form {
        display: flex;
        margin: 0 auto;
        flex-direction: column;
    }
    .login input, .cadastro input {
        margin: 0;
    }

    .login label, .cadastro label{
        margin: 0;
        margin-bottom: -20px;
    }

   .linha {
    width: 280px;
    margin: 1%;
   }

    select{
        margin: 10px 0;
    }
    .titulo_recuperar{
        font-size: 52px;
    }
    

    
}

@media only screen and (max-width: 768px) {
    form {
        width: 300px;
    }
    .linha {
        width: 60vw;
        
    }

    .login input, .cadastro input {
    width: 100%;
    }

    .login, .cadastro, .login-img, .cadastro-img {
        width: 80%;
    }
    .esqueci_senha_p p {
        margin: 0px 32px 22px;
    }
    .titulo_recuperar{
        font-size: 36px;
    }
    .esqueci_senha{
        margin: 0 auto;
    }
}

