@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0px 24px 0px;
}

.navbar_imagem {
    width: 125px;
}

.navbar_menu {
    display: flex;
    font-weight: 600;
    gap: 32px;
}

.navbar_menu_item {
    color: #000350;
    padding: 8px 28px 8px 28px;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
}

.active {
    color: white;
    background-color: #000350;
}

hr {
    border: 1px solid #303030;
    margin-bottom: 64px;
}

.minha_conta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 96px;
}

.minha_conta_imagem img {
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.info_paragrafo {
    margin: 16px 0px;
    width: 400px;
    padding: 16px;
    background-color: #f0f0f0;
    border-radius: 24px;
}

.minha_conta_botao button {
    display: flex;
    border: none;
    padding: 16px 32px 16px 32px;
    align-items: center;
    gap: 24px;
    font-size: 24px;
    font-weight: 700;
    flex-direction: row;
    color: white;
    border-radius: 24px;
    margin-top: 32px;
    cursor: pointer;
}

.minha_conta_botao_azul {
    background-color: #03045E
}

.minha_conta_botao_azul:hover {
    background-color: #010331;
}

.minha_conta_botao_verde {
    background-color: #1d7d0d;
}

.minha_conta_botao_verde:hover {
    background-color: #156008;
}

.botao_vermelho {
    background-color: #a7156d;
}
.botao_vermelho:hover {
    background-color: #6a0743;
}

/* Modal */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal_conteudo {
    display: flex;
    flex-direction: column;
    width: 700px;
    margin: 200px auto;
    justify-content: center;
    background-color: white;
    padding: 32px;
    border-radius: 32px;
    animation-name: animatetop;
    animation-duration: 0.6s;
}

@keyframes animatetop {
    from {margin-top: -200px; opacity:0}
    to {margin-top: 200px; opacity:1}
}

.modal_cima {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
}

.modal_baixo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.modal_baixo_botao_sim {
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 48px;
    background-color: #03045E;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 12px 32px;
    cursor: pointer;
}

.modal_baixo_botao_sim:hover {
    background-color: #020348;
}

.modal_baixo_botao_voltar {
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 48px;
    background-color: #a5a5a5;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 12px 32px;
    cursor: pointer;
}

.modal_baixo_botao_voltar:hover {
    background-color: #8f8f8f;
}

.botao_modal_enviar {
    background-color: #000350;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.botao_modal_enviar:hover {
    background-color: #01033a;
}

.parte_esquerda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.minha_conta_baixo {
    display: flex;
    border: none;
    padding: 16px 32px;
    align-items: center;
    gap: 24px;
    font-size: 24px;
    font-weight: 700;
    flex-direction: row;
    background-color: #03045E;
    color: white;
    border-radius: 24px;
    margin-top: 32px;
    cursor: pointer;
}

.minha_conta_baixo:hover {
    background-color: #020348;
}

.icone_novo {
    width: 22px;
    height: 28px;
}

input {
    border: 1px solid #ababab;
    font-size: 1rem;
    border-radius: 8px;
    height: 48px;
    padding: 12px 20px;
    outline: none;
}



.centralizar_screen {
    display: flex;
    justify-content: center;
    background-color: #8a530c;
}

.flash-messages {
    display: flex;
    position: absolute;
    justify-content: center;
    background-color: #1d7d0d;
    color: white;
    width: 320px;
    padding: 32px;
    border-radius: 32px;
    top: 140px;
    animation-name: popup;
    animation-duration: 5s;
    opacity: 0;
}

.flash-messages li {
    align-items: center;
}

@keyframes popup {
    from {margin-top: -200px; opacity:0}
    20% {margin-top: 0px; opacity:1}
    80% {margin-top: 0px; opacity:1}
    to {margin-top: -200px; opacity:0}
}

.minha_conta_info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}


@media only screen and (max-width: 1250px) {

 .minha_conta{
    gap: 18px;
 }

.minha_conta_info {
    margin-top: 48px;
    gap: 32px;
}

.minha_conta_botao {
    margin-top: 48px;
    gap: 16px;
}


 .minha_conta_info_direita h1, .minha_conta_info_esquerda h1 {
    display: flex;
    margin-left: 10px;
 }
 .parte_esquerda {
    gap: 8px;
    
 }
}

@media only screen and (max-width: 768px) {
 .minha_conta_botao button{
    margin: 20px auto;
 }
 .info_paragrafo{
    width: 90vw;
 }

 .modal_conteudo{
    width: 90%;
 }
 .modal_conteudo h1{
    font-size: 1.6em;
 }
 .minha_conta_imagem{
    width: 250px;
    height: 250px;
 }
 .minha_conta_baixo{
    gap: 12px;
    font-size: 22px;
 }
 .minha_conta_info {
    margin-top: 12px;
    gap: 12px;
}
.parte_esquerda {
    gap: 32px;
    align-items: start;
 }
}