@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
    text-decoration: none;
    scroll-behavior: smooth;
}

main {
    margin: 0 10%;
}

hr {
    border: none;
    border-top: 2px solid #000350; 
}


/* Hero Banner da página Quem Somos */

.hero_banner {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: radial-gradient(150% 64% at 80% 40%, rgba(0, 3, 80, 0.7) 0%, #000350 100%);
    margin: 0 -12.5%;
}

.conteudo_escrito {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin: 0 10%;
}

.conteudo_escrito_titulo {
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    color: white;
    margin-top: 128px;
}

.conteudo_escrito_subtitulo {
    font-weight: 500;
    font-size: 20px;
    color: white;
    margin-bottom: 128px;
}

/* Conteúdo da página Quem Somos */

.maes_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 64px; 
}

.mae_esquerda, .mae_direita {
	display: flex;
	flex-direction: row;
	align-items: center;
    /* flex-wrap: wrap; */
	gap: 32px 
}

.mae_direita {
    text-align: right;
}

.foto{
    border-radius: 15px;
    margin: 10px 0;
    width: 350px;
}

/* corpo da página */

.titulo-nossamissao{
    font-weight: 700;
    font-size: 48px;
    margin-top: 80px;
    color: #000350;
}

.p1-nossamissao{
    margin-top: 40px;
    margin-bottom: 20px;
}

.p2-nossamissao{
    margin-bottom: 40px;
    
}


.titulo-sbreaequipe{
    font-weight: 700;
    font-size: 48px;
    margin-top: 70px;
    color: #000350;
}

.maes{
    margin: 0 2%;
}

.textomaes{
    font-size: 20px;
    margin: 0 2%;
}
.hr2{
    margin-top: 70px;
    margin-bottom: 80px;
}

.titulo-contato{
    font-weight: 700;
    font-size: 48px;
    color: #000350;
}

.p1-contato{
    margin-top: 40px;
}

.botao_email {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: #000350;
    color: white;
    padding: 16px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    width: 200px;
    border: none;
}

.botao_email:hover {
    background-color: #02042e;
}


@media only screen and (max-width: 1000px) {
    .textomaes{
        order: 2;
    }
    .foto{
        order: 1;
    }

    .mae_esquerda, .mae_direita {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    
}

@media only screen and (max-width: 768px) {
    main{
        display: flex;
        flex-direction: column;
    }
    .conteudo_escrito{
        gap: 32px;
    }
    .conteudo_escrito_titulo{
        font-size: 32px;
        margin-top: 20%;
    }
    .conteudo_escrito_subtitulo{
        margin-bottom: 20%;
    }
    .titulo-nossamissao, .titulo-sbreaequipe, .titulo-contato{
        font-size: 32px;
        margin-top: 32px;
    }
    .p1-nossamissao{
        margin-top: 6%;
        margin-bottom: 20px;
    }
    
    .p2-nossamissao{
        margin-bottom: 6%;
        
    }
    .textomaes{
        margin: 0;
        margin-bottom: 12px;
    }
    .foto{
        width: 250px;
        height: 300px;
    }
    .maes_wrapper {
        align-items: center;
        gap: 0; 
    }

}

#progress {
    display: none;
    position: fixed;
    bottom: 48px;
    right: 48px;
    width: 64px;
    height: 64px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

#progress_value {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: white;
    border-radius: 50%;
    font-size: 36px;
}

