@media only screen and (max-width: 1200px) {
.hero_banner {
    flex-direction: column;
}

.conteudo_escrito {
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 64px;
    text-align: center;
    gap: 48px;
}

.conteudo_escrito_titulo {
    margin-top: 0px;
}

.conteudo_escrito_subtitulo {
    margin-bottom: 0px;
}

.hero_banner_imagem {
    margin-bottom: 64px;
}

.conteudo_escrito {
    flex-direction: column;
    text-align: center;
    gap: 48px;
}

.hero_banner_imagem {
    width: 200px;
}
.cards, .cards_info, .cards_call_to_action{
    justify-content: space-between;
    align-items: center;
}
.card_dialise,.card_transplante,.card_dados,.card_login{
    margin-top: -20%;
  }
  

}
@media only screen and (max-width: 600px) {
.card_sem_nefro,.card_sem_nefro, .card_carro, .card_morreu{
    margin-top: -20%;
}
}
@media only screen and (max-width: 425px) {
.card_familia, .card_sem_nefro, .card_carro, .card_morreu {
    height: 250px;
  }
  .card_tratamento, .card_dialise, .card_transplante {
    height: 250px;
    margin: auto;
  }
  .card_blog, .card_dados, .card_login {
    margin: 0 auto;
    height: 20%;
    border-radius: 40px;
  }
 
}